*{
  text-align:justify;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}


.bgc{
  background-color: #110089;
}
.nav-item {
  padding: 0 35px;
}
.carousel,.sz{

height: 50rem;
}
.np{
  padding-left: 0;
}
.dc{
  color:  #021577;
}

a.abot{
  text-decoration:none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: lightblue;
}
a.abot{
  position: relative;
 padding-left: 20px;
}
.abot:before{
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  left: 0;
}
#foot{
  padding: 1%;
  background-color: #0F0076;

}
#services{
  padding: 7% 15%;
  background-color: white;
}
.ser{
  padding-top: 5%;
}
#choose{
  padding: 7% 15%;
  background-color: #F9F9F9;
}
#contact{
  padding: 3% 5%;
  background-color: #110089;
}
.container-fluid{
  margin-left: 0px;
  margin-right: 0px;
}
.fb{
  text-align: center;
}
.line{
  border-radius: 2px;
  width: 50px;
  background-color:lightblue;
  height: 3px;
}
.td{
  padding: 14px;
}
.td2{
  padding:10px;
}
.sc,.f{
  color: white;
  margin: 10px 10px;
}
h1{
  text-align: center;
  font-weight: 600;
}
.btf{
  padding:10px;
}
.bgf{
  border-color: white;
  border-style: solid;
  border-radius: 50px;
  background: rgba(255, 0, 0, 0);
}
.icon{
  padding-bottom: 15px;
}
.bgf:focus{
  outline: none;
}
.bt{
  border-radius: 50px;
}
.tab{
  color: white;
}
.brand{

}
.bt:hover{
  color: black;
  background-color: white;
}
.chbl{
  background: linear-gradient(to right,#110089,#3204fd9A), url('https://pixabay.com/get/g437908715caa87122c9fcd85a7b7d1dabfa5183f50d3f64f153e31e9da0fbb9582fb09f079e970b37e34d771c2e60b2c_1920.jpg') no-repeat top center;

 background-size: cover;
}
.contact-us{
  color: white;
}
.chli{
  background-color: white;
}
.footer{
  display: inline-block;
  color: white;
    padding-left: 2%;
    padding-right: 2%;

}
.con{
  float:right;
}
