*{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.nav-item {
  padding: 0 35px;
}
.carousel,.sz{

height: 50rem;
}

a.abot{
  text-decoration:none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: lightblue;
}
a.abot{
  position: relative;
 padding-left: 20px;
}
.abot:before{
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  left: 0;
}
#foot{
  padding: 1%;
  background-color: darkBlue;
}
#services{
  padding: 7% 15%;
  background-color: white;
}
.ser{
  padding-top: 5%;
}
#choose{
  padding: 7% 15%;
  background-color: lightgrey;
}
#contact{
  padding: 7% 5%;
  background-color: darkblue;
}
.container-fluid{
  margin-left: 0px;
  margin-right: 0px;
}
.fb{
  text-align: center;
}
.line{
  border-radius: 2px;
  width: 50px;
  background-color:lightblue;
  height: 3px;
}
.td{
  padding: 14px;
}
.td2{
  padding:10px;
}
.sc,.f{
  color: white;
  margin: 10px 10px;
}
h1{
  text-align: center;
}
.btf{
  padding:10px;
}
.bgf{
  border-color: white;
  border-style: solid;
  border-radius: 50px;
  background: rgba(255, 0, 0, 0);
}
.bgf:focus{
  outline: none;
}
.bt{
  border-radius: 50px;
}
.bt:hover{
  color: black;
  background-color: white;
}
.chbl{
  background: linear-gradient(to right,darkblue,#3204fdba), url('C:/Users/sarat/OneDrive/Desktop/Own project/praysys website/images/sec.jpg') no-repeat top center;

 background-size: cover;
}
.chli{
  background-color: white;
}
.footer{
  display: inline-block;
}
.con{
  float:right;
}
